/* style.css or index.css */

/* Layout Root */
html, body, #root, .app-root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  /*overflow: hidden; /* Prevent scrollbars */
  width: 100%;
  height: 100%;
}

#iModelViewer, 
#cesiumContainer {
  height: 100%;
  overflow: hidden;
}

/* Cesium Widgets Fix (Timeline, Search, Animation) */
.cesium-viewer-toolbar,
.cesium-animation,
.cesium-timeline,
.cesium-widget {
  display: block !important;
  z-index: 1000 !important;
  position: absolute;
}


