/* style.css or index.css */

/* Layout Root */
html, body, #root, .app-root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Prevent scrollbars */
}

/* iModel viewer*/
#iModelViewer {
  height: 50%;
  min-height: 300px; /* Ensure a minimum height */
  overflow: hidden;
 
}

#cesiumContainer {
  
  height: 50%;
  min-height: 300px; /* Ensure a minimum height */
  width: 100%;
  position: relative; /* Ensure proper positioning */
  overflow: visible !important; /* Prevent scrollbars */
  z-index: 0;
}
/* Cesium Widgets Fix (Timeline, Search, Animation) */
.cesium-viewer-toolbar,
.cesium-animation,
.cesium-timeline,
.cesium-widget {
  display: block !important;
  z-index: 1000 !important;
  position: absolute;
}


